@use "../core/variables" as vars;

.root {
  background-color: vars.$color-secondary;
}

.header {
  display: flex;
  justify-content: center;
  background-color: vars.$color-secondary;
  padding-top: 40px;
}

.searchName {
  font-family: vars.$font-main;
  background-color: vars.$color-secondary;
  color: vars.$color-bg;
  padding: 40px;
  display: flex;
  justify-content: center;

  &__label {
    font-size: 20px;
    padding-right: 20px;
  }

  &__field {
    border: 3px solid vars.$color-bg;
    padding: 2px;
    border-radius: 10px;
  }
}

.main {
  background-color: vars.$color-secondary;
}

.card {
  border: 3px solid grey;
  display: flex;
  justify-content: center;
}

.cardList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-bottom: 20px;
  font-family: vars.$font-main;
  background-color: vars.$color-secondary;
  color: vars.$color-bg;
  width: 98vw;
}

.detail {
  width: 75vh;
  margin-top: 30px;
  border: 3px solid grey;
  display: flex;
  justify-content: center;
  font-family: vars.$font-main;
  color: vars.$color-bg;
  padding: 20px;

  &__text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__button {
    padding: 10px;
    margin-top: 20px;
    width: 60%;
    background-color: vars.$color-bg;
    color: vars.$color-secondary;
    border-radius: 10px;
  }
}

@media (max-width: 1024px) {
  .header {
    width: 100vw;
    &__logo {
      width: 80vw;
      padding-top: 40px;
    }
  }
  .cardList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding-bottom: 20px;
  }
  .detail {
    display: flex;
    flex-direction: column;
    width: 70vw;

    &__image {
      width: 60vw;
    }
  }
}

@media (max-width: 400px) {
  .header {
    width: 100vw;
    &__logo {
      width: 80vw;
      padding-top: 40px;
    }
  }
  .section {
    background-color: vars.$color-secondary;
    display: flex;
    justify-content: center;
  }
  .cardList {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 20px;
    width: 90vw;
  }
  .detail {
    display: flex;
    flex-direction: column;
    width: 90vw;

    &__image {
      width: 80vw;
    }
  }
}
